{{!< default}}

<div class="page-ajax-holder">

  <nav class="subcategories">
    <a href="/" class="active">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>

	<main class="post-ajax-holder">
    
    <div class="infinite-scroll-holder">
      {{> "loop"}}
    </div>
  
  </main>

</div>