{{!< default}}

<div class="page-ajax-holder">
  
  <nav class="subcategories">
    <a href="{{url}}" class="active">{{tag.name}}</a>
  </nav>

	<main class="post-ajax-holder">
    
    <div class="infinite-scroll-holder">
	    {{> "loop"}}
    </div>
	
	</main>

</div>